.error {
	color: red;
	font-size: 16px;
}

.nav {
	color: Blue;
	text-decoration: none;
	font-size: 24px;
	padding: 30px;
	margin: 10px auto 10px auto;

}


body {
    color: DimGray;
	font-family: "Courier New", Courier, monospace;
	background-color: LightGray;	
	max-width: 940px;
	min-width: 720px;
	margin: 10px auto 10px auto;
	padding: 20px;
	text-align: center;
	
}

textarea { 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
    width: 75%;
    height: 150px;
}

#message {
    font-size: 18px;
}